#relogio{
  background-color: #fff;
  color: #fff;
  opacity: 0.2;
  padding: 30px;
  border-radius: 14px;
  transition: all 0.4s;
}

#relogio:hover{
  background-color: #d9d9d9;
}

h2, p{
  color: #000000;
}

p{
  font-size: 1.3rem;
}